.btnCustom {
    padding: 6px 9px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    height: 40px;
    width: 150px;
    background-color: goldenrod;
}

.w3-panel{padding:0.01em 16px}

.w3-panel{margin-top:16px;margin-bottom:16px}

.w3-card-2{box-shadow:0 4px 10px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}


/* Scroll remove */
.row {
    margin-left: 24px;
    margin-right: 3px;
}








