<div class="row">
  <div class="form-group">
  </div>
</div>



<div class="row">

  <div class="col-sm-2">

  </div>

  <div class="col-sm-8">

    <div class="well">

      <div class="row">
        <div class="col-sm-2">


        </div>
        <div class="col-sm-2">
          <div class="form-group">



          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group">
            <div class="button-container">
              <label class="upload-button is-pulled-left">
                      <input type="file"
                  class="hidden"
                  ngFileSelect
                  [options]="uploaderOptions"
                  [events]="inputUploadEvents"
                  (onUpload)="handleUpload($event)"
                  
                  (beforeUpload)="beforeUpload($event)">
                    <div class="btn btn-warning">Browse</div> 
                    </label>
            </div>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group">
            <button type="button" class="btn btn-warning" (click)="startUpload()">Upload</button>
          </div>
        </div>


      </div>

    </div>
  </div>

  <div class="col-sm-2">
  </div>

</div>

<div class="row">

  <div class="col-sm-2">
  </div>

  <div class="col-sm-8">
    <div class="well">
      <div class="row">
        <!-- <table class="table vitamins"> -->
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th style="display:none;">FILE DESCRIPTION</th>
              <th>FILE DESCRIPTION</th>
              <th>CREATED DATE</th>
              <th>CREATED BY</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Doc of UploadDocList | paginate: {itemsPerPage:10 , currentPage:page, id: '1'}; let i = index" (click)="setPIDReceiptNo(i,ORD.PID_RECEIPT_NO);">
              <!-- <td><a href="javascript:void(0)">View</a></td> -->
              <td style="display:none;">
                {{Doc.DocUrl}}
              </td>
              <td>
                {{Doc.DocUrl}}
              </td>
              <td>
                {{Doc.CreatedDate}}
              </td>
              <td>
                {{Doc.CreatedBy}}
              </td>

            </tr>
          </tbody>

        </table>
        <pagination-controls (pageChange)="page = $event" id="1" maxSize="10" directionLinks="true" autoHide="true">
        </pagination-controls>
      </div>
    </div>
  </div>

  <div class="col-sm-2">
  </div>

</div>