<div class="navbar navbar-default navbar-fixed-top">

  <div class="container">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">



      <div class="row">



        <div class="col-sm-2">
          <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-th-list">  AGENT</span></a>
              <ul class="dropdown-menu opacity" role="menu">
                <li class="divider"></li>
                <li><a [routerLink]="['/','agent']">Agent Master</a></li>
                <li class="divider"></li>
                <li><a [routerLink]="['/','designation']">Designation Master</a></li>
                <li class="divider"></li>
                <li><a [routerLink]="['/','changereason']">Change Reason Master</a></li>
                <li class="divider"></li>
                <li><a [routerLink]="['/','level']">Agent Level Master</a></li>
                <li class="divider"></li>
                <li><a [routerLink]="['/','summery']">Agent Summery</a></li>
                <li class="divider"></li>
                <li><a [routerLink]="['/','productcategory']">Product Category</a></li>
                <li class="divider"></li>
                <li><a [routerLink]="['/','product']">Products</a></li>
                <li class="divider"></li>
              </ul>
            </li>
          </ul>
        </div>


        <div class="col-sm-2">
          <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-th-list">  COMMISSION</span></a>
              <ul class="dropdown-menu opacity" role="menu">

                <li class="divider"></li>
                <li><a [routerLink]="['/','commissionratechart']">Commission Rate Chart</a></li>
                <li class="divider"></li>
                <li><a [routerLink]="['/','overrridingratechart']">Overriding Rate Chart</a></li>
                <li class="divider"></li>
                <li><a [routerLink]="['/','ReturnRefundCancellation']">Return / Refund / Cancellation</a></li>
                <li class="divider"></li>    
                <li><a [routerLink]="['/','ReturnRefundCancellationConfirm']">Return / Refund / Cancellation Confirm</a></li>
                <li class="divider"></li>
                <li><a [routerLink]="['/','ManualUploadsComponent']">Manual Uploads - DPTS</a></li>
                <li class="divider"></li>
                <li><a [routerLink]="['/','ManualUploadsReceiptsComponent']">Manual Uploads - Receipts</a></li>
                <li class="divider"></li>

              </ul>
            </li>
          </ul>
        </div>

        <div class="col-sm-2">
          <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-th-list">  INCENTIVE</span></a>
              <ul class="dropdown-menu opacity" role="menu">
                <li><a [routerLink]="['/','agent']">Commission Master</a></li>
              </ul>
            </li>
          </ul>
        </div>


        <div class="col-sm-3">
        </div>


        <!--<div class="col-sm-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" (click)="logout()">Logout</a></li>
          </ul>
        </div>-->

        <div class="col-sm-3">

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ UserDisplayName }} - HNBA Commission Application </a>
              <ul class="dropdown-menu opacity">
                <li><a href="#">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                <li class="divider"></li>
                <li><a href="#">User stats <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
                <li class="divider"></li>
                <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
                <li class="divider"></li>
                <li><a href="#">Favourites Snippets <span class="glyphicon glyphicon-heart pull-right"></span></a></li>
                <li class="divider"></li>
                <li><a href="#">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
              </ul>
            </li>
          </ul>

        </div>

      </div>






      <!--<form class="navbar-form navbar-left" role="search" hidden>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->


    </div>

  </div>

</div>