<div class="row">
  <div class="form-group">
  </div>
</div>

<div class="row">

  <div class="col-sm-3">
    <div class="panel user">
      <a href="javascript:void();"><span>4 </span>Agents</a>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="panel page">
      <a href="javascript:void();"><span>5 </span>Designations</a>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="panel comment">
      <a href="javascript:void();"><span>39 </span>Levels</a>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="panel post">
      <a href="javascript:void();"><span>8 </span>Reasons</a>
    </div>
  </div>

</div>



<div class="row">

  <div class="col-sm-3">
    <div class="panel user">
      <a href="javascript:void();"><span>1 </span>Users</a>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="panel page">
      <a href="javascript:void();"><span>55 </span>Pages</a>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="panel comment">
      <a href="javascript:void();"><span>132 </span>Comments</a>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="panel post">
      <a href="javascript:void();"><span>89 </span>Posts</a>
    </div>
  </div>

</div>










 