<div class="row">
  <div class="form-group">
  </div>
</div>
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">

    <div class="panel panel-default">
      <div class="panel-heading">Product Details</div>
      <div class="panel-body">


        <div class="col-sm-5">


          <form class="form-horizontal">
            <div class="row">
              <div class="{{CODE_CLS}}">
                <!-- <div class="col-xs-0">
                    </div> -->
                <p class="control-label col-xs-6">Rule Code</p>
                <div class="col-xs-3">
                  <input type="text" class="form-control" [(ngModel)]="CODE" name="CODE" id="CODE" placeholder="">
                </div>
              </div>

            </div>
          </form>



          <form class="form-horizontal">
            <div class="row">
              <div class="{{PRODUCT_CAT_CLS}}">
                <p class="control-label col-xs-6">Product Category</p>
                <div class="col-xs-6">
                  <select type="text" class="form-control input-sm" [(ngModel)]="PRODUCT_CAT" name="PRODUCT_CAT" id="PRODUCT_CAT">
                            <option value="0">SELECT</option>
                            <option *ngFor="let cat of ProductCategoryList" value={{cat.Id}}>{{cat.Description}}</option>
                            </select>
                </div>
              </div>
            </div>
          </form>





          <form class="form-horizontal">
            <div class="row">
              <div class={{TERM_LOWER_CLS}}>
                <div class="col-xs-0">
                </div>
                <p class="control-label col-xs-6">Term Lower / Upper</p>
                <div class="col-xs-2">
                  <select type="text" class="form-control input-sm" [(ngModel)]="TERM_LOWER" name="TERM_LOWER" id="TERM_LOWER">
                                <!-- <option value="0">SELECT</option> -->
                                <option *ngFor="let T of TermList" value={{T.Code}}>{{T.Description}}</option>
                                </select>

                </div>

                <div class="col-xs-2">
                  <select type="text" class="form-control input-sm" [(ngModel)]="TERM_UPPER" name="TERM_UPPER" id="TERM_UPPER">
                                <!-- <option value="0">SELECT</option> -->
                                <option *ngFor="let T of TermList" value={{T.Code}}>{{T.Description}}</option>
                                </select>

                </div>
              </div>
            </div>
          </form>



          <!-- <form class="form-horizontal">
              <div class="row">
                <div class="{{PRODUCT_CAT_CLS}}">
                  <p class="control-label col-xs-6">Product Category</p>
                  <div class="col-xs-6">

                      <datetime name="AGT_APPOINT_DATE" [readonly]="false" item-height="50px" [disabled]="isAGT_APPOINT_DATEDisabled" id="AGT_APPOINT_DATE" [datepicker]="datepickerOpts"
                      [(ngModel)]="AGT_APPOINT_DATE" [timepicker]="false"></datetime>

                  </div>
                </div>
              </div>
            </form> -->


          <form class="form-horizontal">
            <div class="row">
              <div class={{COM_RATE_CLS}}>
                <div class="col-xs-0">
                </div>
                <p class="control-label col-xs-6">Commission Rate</p>
                <div class="col-xs-3">
                  <input type="text" class="form-control" [(ngModel)]="COM_RATE" name="COM_RATE" id="COM_RATE" placeholder="">
                </div>
              </div>
            </div>
          </form>




          <form class="form-horizontal">
            <div class="row">
              <div class={{DATE_FROM_CLS}}>
                <div class="col-xs-0">
                </div>
                <p class="control-label col-xs-6">Date From</p>
                <div class="col-xs-5">

                  <span *ngIf=true>

                          <datetime name="date" [readonly]="false" item-height="50px" [disabled]="isAGT_APPOINT_DATEDisabled" id="DATE_FROM" [datepicker]="datepickerOpts"
                          [(ngModel)]="DATE_FROM" [timepicker]="false"></datetime>
    
                      </span>

                </div>

              </div>
            </div>
          </form>



          <div class="row">
            <div class="form-group">
            </div>
          </div>





          <div class="col-sm-6">

          </div>
        </div>

        <!-- second tab -->
        <div class="col-sm-5">
          <form class="form-horizontal">
            <div class="row">
              <div class={{DESCRIPTION_CLS}}>
                <!-- <div class="col-xs-0">
                        </div> -->
                <p class="control-label col-xs-6">Rule Descriptions</p>
                <div class="col-xs-6">
                  <input type="text" class="form-control" [(ngModel)]="DESCRIPTION" name="DESCRIPTION" id="DESCRIPTION" placeholder="">
                </div>
              </div>
            </div>
          </form>

          <form class="form-horizontal">
            <div class="row">
              <div class="{{AGENT_TYPE_CLS}}">
                <p class="control-label col-xs-6">Agent Type</p>
                <div class="col-xs-6">
                  <select type="text" class="form-control input-sm" [(ngModel)]="AGENT_TYPE" name="AGENT_TYPE" id="AGENT_TYPE">
                                      <option value="0">SELECT</option>
                                      <option *ngFor="let agt of AgentTypeList" value={{agt.ID}}>{{agt.DESCRIPTION}}</option>
                                      </select>
                </div>
              </div>
            </div>
          </form>


          <form class="form-horizontal">
            <div class="row">
              <div class={{YEAR_LOWER_CLS}}>
                <div class="col-xs-0">
                </div>
                <p class="control-label col-xs-6">Year Lower / Upper</p>
                <div class="col-xs-2">
                  <select type="text" class="form-control input-sm" [(ngModel)]="YEAR_LOWER" name="YEAR_LOWER" id="YEAR_LOWER">
                                          <!-- <option value="0">SELECT</option> -->
                                          <option *ngFor="let Y of YearList" value={{Y.Code}}>{{Y.Description}}</option>
                                          </select>

                </div>

                <div class="col-xs-2">
                  <select type="text" class="form-control input-sm" [(ngModel)]="YEAR_UPPER" name="YEAR_UPPER" id="YEAR_UPPER">
                                        <!-- <option value="0">SELECT</option> -->
                                        <option *ngFor="let Y of YearList" value={{Y.Code}}>{{Y.Description}}</option>
                                        </select>

                </div>
              </div>
            </div>
          </form>


          <form class="form-horizontal">
            <div class="row">
              <div class="{{AGT_RETAINER_STATUS_CLS}}">
                <div class="col-xs-0">
                </div>
                <p class="control-label col-xs-6"> Active Status</p>
                <div class="col-xs-4">
                  <select class="form-control" [(ngModel)]="ACTIVE_STATUS" name="ACTIVE_STATUS" id="ACTIVE_STATUS">
                              <option value="1">ACTIVE</option>
                              <option value="0">INACTIVE</option>
                          </select>
                </div>
              </div>
            </div>
          </form>

          <div class="row">
            <div class="form-group">
            </div>
          </div>


          <form class="form-horizontal">
            <div class="row">
              <div class={{DATE_TO_CLS}}>
                <div class="col-xs-0">
                </div>
                <p class="control-label col-xs-6">Date To</p>
                <div class="col-xs-5">

                  <span *ngIf=true>
      
                                <datetime name="date" [readonly]="false" item-height="50px" [disabled]="isAGT_APPOINT_DATEDisabled" id="DATE_TO" [datepicker]="datepickerOpts"
                                [(ngModel)]="DATE_TO" [timepicker]="false"></datetime>
          
                            </span>

                </div>

              </div>
            </div>
          </form>




        </div>



      </div>



    </div>
    <div class="col-sm-1">
    </div>

  </div>
  <div class="col-sm-1">
  </div>
</div>





<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">


    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
      <button type="button" [disabled]="isNEWDisabled" (click)="NewRecord()" class="btn orange-flat-button">New Record</button>
    </div>
    <div class="col-sm-2">
      <button type="button" [disabled]="isEDITDisabled" (click)="EditRecord()" class="btn orange-flat-button">Edit Record</button>
    </div>
    <div class="col-sm-2">
      <button type="button" [disabled]="isSAVEDisabled" (click)="SaveRecord()" class="btn orange-flat-button">Save Record</button>
    </div>
    <div class="col-sm-2">
      <button type="button" [disabled]="isCANCELDisabled" (click)="CancelRecord()" class="btn orange-flat-button">Cancel Record</button>
    </div>



    <div class="col-sm-2">


    </div>
    <div class="col-sm-1">
    </div>



  </div>
</div>



<div class="row">
  <div class="form-group">
  </div>
</div>

<div class="row">
  <div class="form-group">
  </div>
</div>


<div class="row">
  <div class="form-group">
  </div>
</div>

<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">
    <div class="well">
      <div class="row">
        <!-- <table class="table vitamins"> -->
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>View</th>
              <th style="display:none;">ID</th>
              <th style="display:none;">CategoryId</th>
              <th style="display:none;">AgtTypeId</th>
              <th>CODE</th>
              <th>DESCRIPTION</th>
              <th>PROD CAT</th>
              <th>AGENT TYPE</th>
              <th>TERM LOW</th>
              <th>TERM HIGH</th>
              <th>YEAR LOW</th>
              <th>YEAR HIGH</th>
              <th>COM RATE</th>
              <th>CREATED BY</th>
              <th>CREATED DATE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let R of RateChartList | paginate: {itemsPerPage:5 , currentPage:page, id: '1'}; let i = index" (click)="setRuleID(i,R.Id);">
              <td><a href="javascript:void(0)">View</a></td>
              <td style="display:none;">
                {{R.ID}}
              </td>
              <td style="display:none;">
                {{R.CategoryId}}
              </td>
              <td style="display:none;">
                {{R.AgtTypeId}}
              </td>
              <td>
                {{R.Code}}
              </td>
              <td>
                {{R.Description}}
              </td>
              <td>
                {{R.Product_Category}}
              </td>
              <td>
                {{R.Agent_Type}}
              </td>
              <td>
                {{R.TermLowerLimit}}
              </td>
              <td>
                {{R.TermUpperLimit}}
              </td>
              <td>
                {{R.YearLowerLimit}}
              </td>
              <td>
                {{R.YearUpperLimit}}
              </td>
              <td>
                {{R.Rate}}
              </td>
              <td>
                {{R.CreatedBy}}
              </td>
              <td>
                {{R.CreatedDate}}
              </td>
            </tr>
          </tbody>

        </table>
        <pagination-controls (pageChange)="page = $event" id="1" maxSize="5" directionLinks="true" autoHide="true">
        </pagination-controls>
      </div>
    </div>
  </div>
  <div class="col-sm-1">
  </div>
</div>