


  <div class="row">
    <div class="form-group">
    </div>
  </div>




  

  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <div class="row">
          <!-- <table class="table vitamins"> -->
          <table class="table table-striped table-hover " id="myTable">
            <thead>
              <tr>
                <th>SELECT</th>
                <th style="display:none;">RFD_RECEIPT_NO</th>
                <th>RFD_RECEIPT_NO</th>
                <th>PV_NO</th>
                <th>RFD_REFUND_DATE</th>
                <th>RFD_TYPE</th>
                <th>RFD_AMT</th>
                <th>RFD_BY</th>
                <th>RFD_REASON</th>
                <th>RFD_AGT_CODE</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let RFD of RefundList | paginate: {itemsPerPage:20 , currentPage:page, id: '1'}; let i = index" (click)="setPIDReceiptNo(i,RFD.RfdId);">

                <!-- <td><a href="javascript:void(0)">View</a></td> -->
                <td>


                  <input type="checkbox" on="OnChangeCheckbox(this)" [checked]="RFD.State" ngControl="Refund" [(ngModel)]="RFD.selected">



                </td>
                <td style="display:none;">
                  {{RFD.RfdId}}
                </td>
                <td>
                  {{RFD.RfdReceiptNo}}
                </td>
                <td>
                  {{RFD.RfdPvNo}}
                </td>
                <td>
                  {{RFD.RfdRefundDate}}
                </td>
                <td>
                  {{RFD.RfdType}}
                </td>
                <td>
                  {{RFD.RfdAmt}}
                </td>
                <td>
                  {{RFD.RfdBy}}
                </td>
                <td>
                  {{RFD.RfdReason}}
                </td>
                <td>
                  {{RFD.RfdAgtCode}}
                </td>
              </tr>
            </tbody>

          </table>
          <pagination-controls (pageChange)="page = $event" id="1" maxSize="20" directionLinks="true" autoHide="true">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>





  <div class="row">
    <!-- <div class="col-sm-6">
    </div> -->
    <div class="col-sm-12">
      <div class="col-sm-1">
        <button type="button" [disabled]="isEDITDisabled" (click)="SelectAllRecords()" class="btn orange-flat-button glyphicon glyphicon-ok"></button>
      </div>
      <div class="col-sm-1">
        <button type="button" [disabled]="isEDITDisabled" (click)="DeSelectAllRecords()" class="btn orange-flat-button glyphicon glyphicon-remove"></button>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2">
      </div>

      <div class="col-sm-2">
        <button type="button" [disabled]="isSAVEDisabled" (click)="ApproveRecords()" class="btn orange-flat-button">Confirm</button>
      </div>
      <div class="col-sm-2">
        <button type="button" [disabled]="isCANCELDisabled" (click)="RejectRecords()" class="btn orange-flat-button">Reject</button>
      </div>
    </div>
  </div>


